@model IEnumerable<Shop_QuanAo.Models.SanPham>
@{
    ViewBag.Title = "Quản lý Sản Phẩm";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Quản lý Sản Phẩm</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tên Sản Phẩm</th>
            <th>Giá</th>
            <th>Danh Mục</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
<tr>
    <td>@product.TenSanPham</td>
    <td>@String.Format("{0:N0}", product.Gia)</td>
    <td>@product.DanhMucSanPham.TenDanhMuc</td>
    <td>
        <a href="@Url.Action("EditProduct", "Admin", new { id = product.MaSanPham })" class="btn btn-warning">Chỉnh sửa</a>
        <a href="@Url.Action("DeleteProduct", "Admin", new { id = product.MaSanPham })" class="btn btn-danger">Xóa</a>
    </td>
</tr>}
    </tbody>
</table>

<a href="@Url.Action("Create", "SanPham")" class="btn btn-primary">Thêm sản phẩm mới</a>

